body {
	background: #515961;
}

p {
	color: white;
}

.buffer {
	margin-top: 30px;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-brand {
	font-family: Lato;
}

.dropdown-item {
	font-family: Lato;
	color: white;
}

.dropdown-menu {
	background: #343a40;
	color: white;
	border: white solid 2px;
}

.jumbotron {
	margin: 20%;
	margin-top: 2%;
	background: #7090ba;
	border: #343a40 solid 2px;
	padding: 0;
	width: 50%;
	height: 50%;
	background-image: url(https://media.eventhubs.com/images/ssbm/character_header_falco.jpg);
	background-size: cover;
	background-position: center;


}

.banner {
	width: 100%;
	height: 100%;
}

.lead {
	color: white;
	text-align: center;
	font-family: Lato;
}

.place {
	color: white;
	text-align: center;
	font-family: Lato;
	margin-top: 40px;
	margin-bottom: 5%;
}

li {
	font-family: Lato;
}
.display-4	{
	margin: 10px;
	text-align: center;
	padding-top: 10%;
	color: #f7f7f7;
	font-family: Lato;
}

hr	{
	margin-left: 5%;
	margin-right: 5%;
    padding: 0;
    border: none;
    border-top: medium double #f7f7f7;
    color: #343a40;
    text-align: center;
}

.card {
	background-color: darkgrey;
	width: 30.35rem;
}
.clips {
	padding: 1rem;
	align-items: center;
}

.card-text {
	color: black;
	font-family: Lato;
}


h4	{
	color: black;
	font-family: Lato;
	
}