body {
	background: #515961;
	padding-top: 4rem;
}

.buffer {
	margin-top: 30px;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-brand {
	font-family: Lato;
}

.dropdown-item {
	font-family: Lato;
	color: white;
}

.dropdown-menu {
	background: #343a40;
	color: white;
	border: white solid 2px;
}

.jumbotron {
	margin-left: 20%;
	margin-left: 20%;
	margin-top: 2%;
	background: darkgrey;
	border: #343a40 solid 2px;
	padding: 0;
	width: 50%;
	height: 50%;
	background-size: cover;
	background-position: center;
	align-self: center;
}

.palette {
	max-width: 100%;
	max-height: 100%;
}

.jumboheading {
	margin-top: 0;
}

.jumboheading-heading {
	align-self: center;

}

.tidbit {
	text-align: center;
	font-family: Lato;
	font-style: italic;
}

.matchups {
	color: black;
	margin-left: 1rem;
	margin-right: 1rem;
}
.display-3 {
	text-align: center;
	font-weight: bolder;
}
.jumboheading-body {
	text-indent: 1rem;
	font-family: Lato;
	font-weight: bold;
}
.media-body {
	align-self: end;
}
.palette {
	width: 100%;
}

.home {
	background-image: url(https://media.eventhubs.com/images/ssbm/character_header_falco.jpg);
}

.banner {
	width: 100%;
	height: 100%;
}

.lead {
	color: white;
	text-align: center;
	font-family: Lato;
}

.place {
	color: white;
	text-align: center;
	font-family: Lato;
	margin-top: 40px;
	margin-bottom: 5%;
}

li {
	font-family: Lato;
}
.display-4	{
	margin: 10px;
	text-align: center;
	padding-top: 10%;
	color: #f7f7f7;
	font-family: Lato;
}

hr	{
	margin-left: 1rem;
	margin-right: 1rem;
    padding: 0;
    border: none;
    border-top: medium double #343a40;
    color: #343a40;
    text-align: center;
}

.card {
	background-color: darkgrey;
	width: 30.35rem;
	border: solid 2px #343a40;
}
.clips {
	padding: 1rem;
	align-items: center;
}

.card-text {
	color: black;
	font-family: Lato;
}


h4	{
	color: black;
	font-family: Lato;
	
}